.contact {
	background: $Soft-Blue;
	margin-top: 8rem;
	&__content {
		text-align: center;
		padding: 7rem 0;
		max-width: 100%;
		width: 44rem;
		margin: 0 auto;

		&--small-head {
			color: white;
			text-transform: uppercase;
			font-weight: 500;
			letter-spacing: 5px;
			padding-bottom: 4.5rem;
		}

		&--big-head {
			font-size: 3rem;
			color: white;
		}
	}
	&__form {
		display: flex;
		justify-content: center;
		align-items: center;
		flex-wrap: wrap;
		&--input {
			padding: 1.5rem 2rem;
			border-radius: 5px;
			outline: none;
			border: none;
			flex: 0.7;

			&::placeholder {
				color: $Grayish-Blue;
			}
		}

		&--button {
			outline: none;
			display: block;
			border: none;
			border-radius: 5px;
			cursor: pointer;
			flex: 0.2;
			padding: 1.5rem;
			background-color: $Soft-Red;
			color: white;
			margin-left: 2rem;
		}
	}
}
