.faq {
	&__header,
	&__questions {
		@include contentHeader;
	}
}

.accordion {
	border-top: 1px solid #e0e0ec;
	border-bottom: 1px solid #e0e0ec;
}

.accordion__button {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	padding: 15px;
	border: none;
	outline: none;
	cursor: pointer;
	background: transparent;

	font-weight: 400;
	color: $Very-Dark-Blue;
	font-size: 1.8rem;
}

.accordion__button:hover {
	color: $Soft-Red;
}

.accordion__button--active + .accordion__content {
	display: block;
}

.accordion__button--active {
	color: $Soft-Red;
}

.accordion__button--active i {
	transform: rotate(180deg);
}

.accordion__content {
	padding: 0 15px;
	border-bottom: 1px solid #e0e0ec;

	display: none;
	overflow: auto;
}

.accordion__content--text {
	text-align: left;
	padding-bottom: 2rem;
}

.faq--btn {
	margin-top: 4rem;
}
