.hero {
	margin-top: 13rem;
	position: relative;

	&__flex {
		display: flex;
		justify-content: space-between;
		align-items: start;
		@include breakpoint(small) {
			flex-direction: column-reverse;
		}
	}

	&__left {
		padding: 8rem 0rem;
		width: 55rem;
		max-width: 100%;
		@include breakpoint(small) {
			width: 100%;
			text-align: center;
		}

		p {
			padding-top: 3rem;
			padding-right: 1.5rem;
			@include breakpoint(small) {
				padding-right: 0rem;
			}
		}
	}

	&__btns {
		margin-top: 5rem;
		@include flex;
		justify-content: start;
		@include breakpoint(medium) {
			justify-content: center;
		}
	}

	&__right {
		position: relative;
	}
}

.hero-bg {
	position: absolute;
	top: 15rem;
	bottom: 0;
	right: 0;
	width: 35%;
	height: 70%;
	border-radius: 30rem 0 0 30rem;
	background-color: $Soft-Blue;
	z-index: -1;
}
