.menu {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-top: 5.6rem;
	&__list {
		display: flex;
		align-items: center;
		li {
			margin-left: 3rem;
			color: $Very-Dark-Blue;
			text-transform: uppercase;
			@include hover;

			&:last-child {
				padding: 1.4rem 3.4rem;
				background: $Soft-Red;
				color: #fff;
        border-radius: 5px;
        border: 2px solid $Soft-Red;
        transition: all 0.3s ease-out;
        
        &:hover {
          color: $Soft-Red;
          background: #fff;
        }
			}
		}
	}
}

