.header {
	margin-top: 5.6rem;
	position: relative;

	// Hamburger Open Styles
	&.open {
		.header__logo {
			z-index: 2;
			&--name {
				fill: white;
			}
			&--circle {
				fill: white;
			}
			&--bookmark {
				fill: rgba(37, 43, 70, 0.9);
			}
		}

		.header__toggle {
			span {
				background: white;
				z-index: 2;
				display: block;
			}
			> span:first-child {
				transform: rotate(45deg);
			}

			> span:nth-child(2) {
				opacity: 0;
			}

			> span:last-child {
				transform: rotate(-45deg);
			}
		}
	}

	// Overlay
	.overlay {
		position: fixed;
		top: 0px;
		right: 0px;
		bottom: 0px;
		left: 0px;
		background-color: rgba(37, 43, 70, 0.9);
		z-index: 1;
	}

	// Mobile Menu
	&__toggle {
		> span {
			display: block;
			width: 2.6rem;
			height: 0.2rem;
			background-color: $Very-Dark-Blue;
			transition: all 0.3s ease-in-out;
			transform-origin: 0.3rem 0.1rem;

			&:not(:last-child) {
				margin-bottom: 0.5rem;
			}
		}
	}

	// Menu List
	&__links {
		padding: 2.6rem;
		position: absolute;
		width: 100%;
		height: 100vh;
		left: 50%;
		transform: translateX(-50%);
		margin-top: 2.4rem;
		z-index: 1;

		&--items {
			display: block;
			color: white;
			text-align: center;
			text-transform: uppercase;
			letter-spacing: 3px;
			padding: 2rem;

			&:hover {
				color: $Soft-Red;
			}
		}
	}

	&__border {
		border-top: 0.5px solid rgba(145, 148, 161, 0.5);
		border-bottom: 0.5px solid rgba(145, 148, 161, 0.5);
	}

	&__socials {
		@include flex;
		position: absolute;
		bottom: 30rem;
		left: 0;
		right: 0;
	}

	// Desktop Menu
	&__flex {
		@include flex;
		justify-content: space-between;
		position: relative;
	}

	&__menu {
		display: flex;
		align-items: center;
		&--items {
			margin-left: 3rem;
			color: $Very-Dark-Blue;
			text-transform: uppercase;
			@include hover;

			&:last-child {
				padding: 1.4rem 3.4rem;
				background: $Soft-Red;
				color: #fff;
				border-radius: 5px;
				border: 2px solid $Soft-Red;
				transition: all 0.3s ease-out;

				&:hover {
					color: $Soft-Red;
					background: #fff;
				}
			}
		}
	}
}

// Visibility
.hide-for-mobile {
	// Hide for tablet and mobile
	@include breakpoint(small) {
		display: none;
	}
}

.hide-for-desktop {
	// Hide for desktop viewport widths
	display: none;
	@include breakpoint(small) {
		display: block;
	}
}
