.btn {
	display: inline-block;
	border-radius: 5px;
	border-radius: none;
	cursor: pointer;
	padding: 1.8rem 2.5rem;
	background: $Soft-Blue;

	@include breakpoint(small) {
		padding: 1.5rem 2rem;
	}
}

.btn-blue {
	color: white;
	transition: all 0.3s ease-out;
	border: 2px solid $Soft-Blue;
	@include boxShadow;

	&:hover {
		background: white;
		color: $Soft-Blue;
	}
}

.btn-white {
	background: #f7f7f7;
	color: $Very-Dark-Blue;
	border: 2px solid #f7f7f7;
	margin-left: 1.6rem;
	@include boxShadow;

	&:hover {
		border: 2px solid $Very-Dark-Blue;
		background: white;
	}
}

.btn--mobile {
	background: transparent;
	border: 2px solid white;
	margin-top: 2rem;

	&:hover {
		background: white;
		border: 2px solid $Soft-Red;
	}
}
