li {
	font-size: 1.3rem;
	letter-spacing: 2px;
}

h1,
h2,
h4,
h5 {
	color: $Very-Dark-Blue;
}

h4, h5 {
	font-weight: 400;
}

h1 {
	font-size: 4.5rem;
	font-family: 'Rubik';
	font-weight: 500;
}

h2 {
	padding-bottom: 3rem;
	font-size: 2.6rem;
}

h4 {
	font-size: 1.8rem;
}

h5 {
	font-size: 1.6rem;
}

p {
	color: $Grayish-Blue;
	font-weight: 400;
	font-size: 1.8rem;
	line-height: 1.5;
}
