li {
	font-size: 1.3rem;
	letter-spacing: 2px;
}

h1 {
	font-size: 4.5rem;
	color: $Very-Dark-Blue;
  font-family: 'Rubik';
  font-weight: 500;
}

p {
  color: $Grayish-Blue;
  font-weight: 400;
  font-size: 1.8rem;
  line-height: 1.5;
}
